/*REG PAGE*/

.landPage {
  max-height: 100%;
  max-width: 100%;
  /*width: 100vw;
  height: 100;*/
  /*width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;*/
  /*margin-top: 175px;*/
  /*background-color: #9a252b;
    background: linear-gradient( #4F2223, #9a252b);*/
  /*opacity: .7;*/
  color: white;
  font-family: 'Lato', sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
}


/*.entirePage {
  background-size: cover;
  background-image: url('../images/background.png');
}*/

.terms {
  color: #494747;
  margin-top: 5px;
  text-align: center;
  /*margin-right: 20px;*/
  font-weight: lighter;
  /*display: inline-block;*/
}


/*.checkTerms {
  text-align: center;
}*/

.inputs {
  margin-bottom: 20px;
  margin-top: 20px;
  float: right;
  /*margin-left: 3em;*/
  border-radius: 5px;
  border: solid #9a252b;
  border-width: thin;
  border-left: none;
  /*float: right;*/
  /*margin-right: 100px;*/
  padding: 40px;
  max-height: 100%;
  background-color: white;
  opacity: 0.7;
  width: 400px;
}

.regInput {
  width: 300px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 5px;
  background-color: transparent;
}

.regBtn {
  margin-top: 20px;
  background-color: white;
  color: #9a252b;
  border-radius: 20px;
  border-bottom: solid black;
  border-width: thin;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 150px;
  font-size: 24px;
  box-shadow: 0 9px #999;
  font-family: 'Ubuntu', sans-serif;
}

.regBtn:hover {
  opacity: 0.7;
}

.regBtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons {
  text-align: center;
}

.loginBox {
  margin-bottom: 20px;
  margin-top: 20px;
  /*float: left;*/
  border-radius: 5px;
  border: solid #9a252b;
  border-width: thin;
  /*margin-left: 100px;*/
  padding: 40px;
  width: 400px;
  border-left: none;
  background-color: white;
  opacity: 0.7;
}

.loginInputs {
  display: block;
  width: 300px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 5px;
  background-color: transparent;
  max-height: 100%;
  /*float: right;*/
}


/*.logLabel {
    color: #666;
    font-weight: lighter;
    margin-top: 5px;
    display: block;
    font-family: 'Lato', sans-serif;
  }*/

.signupLogo {
  height: 275px;
  width: 275px;
}

.feedback {
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  border: solid #9a252b;
  border-width: thin;
  background-color: white;
  padding: 10px;
  margin-left: 2em;
  /*margin-bottom: 1em;*/
}

.feed {
  text-align: center;
  font-size: 16px;
  margin-left: 2em;
}
