body {
  font-family: 'Open Sans', sans-serif;
}

.progress {
  margin-top: 25px;
}

h1 {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s 0.1s ease;
  opacity: 0;
}

li {
  list-style: none;
  font-size: 24px;
  width: 400px;
}

.inputs {
  margin-bottom: 20px;
}

.buttons {
  text-align: center;
}

.window {
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  padding: 2px;
  border: none;
  /*border-radius: 20px;*/
  border-bottom: solid black;
  border-width: thin;
  display: block;
  font-size: 24px;
}

label {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}


/*navbar*/

.logoImg {
  height: 225px;
  width: 225px;
  float: left;
  margin-left: 2.5vw;
}

.navbar {
  background-color: #bdb9b8;
  border-bottom: solid rgb(153, 21, 13);
  border-width: thin;
  max-height: 80px;
}

.headerImg {
  height: 225px;
  width: 100%;
  background-size: cover;
  background-image: url('../images/header3.png');
  border-bottom: solid rgb(153, 21, 13);
  border-width: thin;
  margin-bottom: 25px;
}

select {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: rgb(153, 21, 13);
  border-width: thin;
}


/*signup*/

.role {
  font-size: 30px;
}

.page {
  max-width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-radius: 20px;
  border-color: solid rgb(153, 21, 13);
  border-width: thin;
  max-height: 100vw;
}

.state {
  max-width: 50px;
  text-align: center;
}

.setting {
  width: 100%;
}

.zipInput {
  width: 80px;
}

#phone {
  width: 180px;
}

.multi-column {
  list-style-position: inside;
  column-count: 2;
  column-fill: balance;
  column-gap: 5vw;
}

.checks {
  display: inline;
  height: 35px;
  width: 35px;
}

.submitBtn {
  border: none;
  border-radius: 2px;
  float: right;
}

.submitBtn:hover {
  opacity: 0.3;
}


/*injuryInfo*/

.pLevel {
  width: 100%;
  margin-left: 2.5vw;
}

.injuryInfo {}

.ageInj {
  width: 40px;
  text-align: center;
}

.multi-column2 {
  list-style-position: inside;
  column-count: 3;
  column-fill: balance;
  column-gap: 2vw;
}


/*bio*/


/*question*/

.question1 {
  margin-top: -10vh;
  margin-bottom: 4vh;
  color: white;
}

.additional {
  width: 80vw;
}


/*hobbies*/

.stockImg {
  height: 100px;
  width: 175px;
}

.multi-column3 {
  list-style-position: inside;
  column-count: 4;
  column-fill: auto;
  column-gap: 1vw;
}


/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Modal*/

#myModal {
  max-height: 100vh;
  max-width: 50%;
  margin: 0 auto;
}

.userContent {
  max-width: 70%;
  margin: 0 auto;
}

td {
  text-align: center;
}

h4 {
  text-align: left;
}
