body {
  font-family: 'Ubuntu', sans-serif;
}

.progress {
  margin-top: 25px;
}

h1 {
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
}


/*buttons*/

button {
  background-color: transparent;
  border-radius: 20px;
  border-width: thin 3px 3px 3px 3px;
  border-color: #9a252b;
  font-size: 24px;
  color: #9a252b;
}

.registerBtn {
  color: #9a252b;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s 0.1s ease;
  opacity: 0;
}

li {
  list-style: none;
  font-size: 24px;
  width: 400px;
}

.inputs {
  margin-bottom: 20px;
}

.buttons {
  text-align: center;
}

.window {
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  padding: 2px;
  border: none;
  /*border-radius: 20px;*/
  border-bottom: solid black;
  border-width: thin;
  display: block;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}

label {
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}


/*navbar*/

.logoImg {
  height: 225px;
  width: 225px;
  float: left;
  margin-left: 2.5vw;
}

.navbar {
  background-color: #bdb9b8;
  border-bottom: solid #9a252b;
  border-width: thin;
  max-height: 80px;
}

.headerImg {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-image: url('../images/header3.png');
  border-bottom: solid #9a252b;
  border-width: thin;
  margin-bottom: 100px;
}

select {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #9a252b;
  border-width: thin;
}


/*signup*/

.role {
  font-size: 30px;
}

.page {
  max-width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-radius: 20px;
  border-color: solid #9a252b;
  border-width: thin;
  max-height: 100vw;
}

.state {
  max-width: 50px;
  text-align: center;
}

.setting {
  width: 100%;
}

.zipInput {
  width: 80px;
}

#phone {
  width: 180px;
}

.multi-column {
  list-style-position: inside;
  column-count: 2;
  column-fill: balance;
  column-gap: 5vw;
}

.checks {
  display: inline;
  height: 35px;
  width: 35px;
}


/*injuryInfo*/

.pLevel {
  width: 100%;
  margin-left: 2.5vw;
}

.injuryInfo {
  display: grid;
}

.ageInj {
  width: 40px;
  text-align: center;
}

.multi-column2 {
  list-style-position: inside;
  column-count: 3;
  column-fill: balance;
  column-gap: 2vw;
}


/*bio*/

.rel {
  /*display: grid;*/
  margin-bottom: 40px;
  /*margin-top: 40px;*/
}


/*question*/

.question1 {
  margin-top: -20vh;
  margin-bottom: 8vh;
  color: white;
}

.additional {
  width: 100%;
}


/*hobbies*/

.stockImg {
  height: 175px;
  width: 175px;
  margin: 20px;
}

.multi-column3 {
  list-style-position: inside;
  column-count: 4;
  column-fill: auto;
  column-gap: 1vw;
}

.otherInput {
  margin-top: 30%;
}

.hobbyLabel {
  margin-right: 600px;
}

.active {
  opacity: 0.6;
  color: #9a252b;
}


/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Modal*/

#myModal {
  max-height: 100vh;
  max-width: 66%;
  margin: 0 auto;
  background-color: transparent;
  overflow-x: hidden;
}

.modal-content {
  margin-right: -5px;
}

.userContent {
  max-width: 70%;
  margin: 0 auto;
}

.userContent {
  text-align: center;
}

td.userContent {
  width: 100px;
}

.table tbody tr td {
  vertical-align: middle;
}

h4 {
  text-align: left;
}

.viewProfile {
  float: right;
  /*margin-bottom: 20px;
  border-radius: 20px;
  border-width: thin;*/
  /*padding: 10px;*/
  margin-bottom: 20px;
}

table, td, th {
  border: 1px solid rgb(195, 194, 194);
}

p {
  display: inline-grid;
}

.submitBtn {
  display: inline-block;
  /*padding: 15px 25px;*/
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #999;
  float: right;
  margin-right: 1.5vw;
}

.submitBtn:hover {
  opacity: 0.7;
}


/*.submitBtn:hover {
  background-color: #9a252b;
}*/

.submitBtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.adminSearch {
  display: inline;
}
