h1 {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

li {
  list-style: none;
}

.inputs {
  margin-bottom: 20px;
}

.buttons {
  text-align: center;
}

.window {
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}
