/*User Page*/

.userPage {
  max-width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 12em;
  border-top: solid #4F2223;
  /*border-bottom: solid #9a252b;*/
  /*border-left: 1px solid #ECE5E5;
  border-right: 1px solid #ECE5E5;*/
  background-color: white;
  /*opacity: 0.8;*/
  border-width: medium;
  height: 100%;
}

.profName {
  font-size: 20px;
}

.match {
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
}

.imageUp {
  /*display: inline-block;
  float: left;
  text-align: center;*/
  /*margin-right: 100px;
  margin-left: 5em;*/
  text-align: center;
}

.bio {
  /*float: right;
  margin-right: -10em;*/
  /*margin-top: 2em;*/
  margin-top: -3em;
  margin-left: 30%;
  /*margin-bottom: 2em;*/
  display: grid;
}

.submitBio {
  /*float: right;
  margin-right: -10em;*/
  height: 50px;
  width: 150px;
  border-radius: 20px;
  border-bottom: 2px solid #9a252b;
  border-width: thin;
  border-left: none;
  border-right: none;
  padding: 10px;
  box-shadow: 0 9px #999;
  float: right;
  margin-right: 5em;
}

.submitBio:hover {
  opacity: 0.7;
}

.submitBio:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.addBio {
  /*float: right;
  /*margin-right: -15em;*/
  /*margin-top: 16em;*/
}

.upload {
  margin-top: 100%;
  border-radius: 20px;
  border-bottom: 2px solid #9a252b;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  box-shadow: 0 9px #999;
}

.upload:hover {
  opacity: 0.7;
}

.upload:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.userInfo {
  /*display: list-item;*/
  /*text-align: center;*/
  width: 20em;
  margin-top: -3em;
  max-height: 100%;
  border-left: 1px solid black;
  padding-left: 20px;
  /*background-color: red;*/
  float: left;
  /*margin-right: 40%;*/
}

.editP {
  max-height: 100%;
}

u {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 15px;
  text-decoration: none;
}

.currentPage {
  text-align: center;
  /*margin-right: 20em;*/
}

.acLvl {
  font-size: 40px;
  font-family: 'lato', sans-serif;
  text-align: center;
}

.matchBtn {
  border-radius: 20px;
  border-bottom: 2px solid #9a252b;
  border-top: 2px solid #9a252b;
  border-left: none;
  border-right: none;
  padding: 10px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 9px #999;
  margin-top: 40px;
}

.matchBtn:hover {
  opacity: 0.7;
}

.matchBtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.matchBtn2 {
  border-radius: 20px;
  border-bottom: 2px solid #9a252b;
  border-top: 2px solid #9a252b;
  border-left: none;
  border-right: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 9px #999;
  margin-top: 40px;
}

.matchBtn2:hover {
  opacity: 0.7;
}

.matchBtn2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*VISIT*/

.hangOut {
  display: grid;
  float: right;
}

.userInfo2 {
  /*display: list-item;*/
  /*text-align: center;*/
  width: 20em;
  margin-top: -1em;
  max-height: 100%;
  border-left: 1px solid black;
  padding-left: 20px;
  /*background-color: red;*/
  float: left;
  /*margin-right: 40%;*/
}

.headerImgUser {
  max-height: 1em;
  /*max-width: 100%;*/
  /*background-size: contain;
  background-image: url('../images/header4.png');*/
  border-bottom: solid #9a252b;
  border-width: thin;
  /*margin-bottom: 10em;*/
}

.visitBio {
  border: none;
}

.logoImg2 {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 2.5vw;
}

.logoImgR2 {
  /*height: 200px;

  width: 200px;*/
  height: 125px;
  width: 125px;
  float: right;
  margin-right: 2.5vw;
  margin-top: 10px;
  padding: 10px;
}
