<div class="container "  ng-init='ac.mentorsMentees()'>
    <h1>Welcome </h1>
    <table class="table table-striped">
  <thead>
    <tr>
        <th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Enabled</th>

    </tr>
  </thead>
  <tbody class = 'table-striped'>
    <tr ng-repeat='users in ac.users'>
        <td>{{users.access_lvl | uppercase}}</td>
      <td>{{users.first_name |uppercase}}</td>
      <td>{{users.last_name |uppercase}}</td>
      <td>{{users.email}}</td>
      <td><input type="checkbox" name="" ng-model="users.enabled" ng-click='ac.switchEnabled($index)'></td>

    </tr>
  </tbody>
</table>
</div>
