<h1>Bio</h1>
<select class="" name="">
  <option value="" selected disabled>Relationship Status</option>
  <option value="">Married</option>
  <option value="">Single</option>
  <option value="">Divorced</option>
  <option value="">Widow/Widower</option>
</select>

<select class="" name="">
    <option value="" selected disabled>Family Status</option>
    <option value="">Children at Home</option>
    <option value="">Children grown/out of home</option>
    <option value="">No Children</option>
</select>

<select class="" name="">
      <option value="" selected disabled>Education Level</option>
      <option value="">Elementary</option>
      <option value="">Some High School</option>
      <option value="">High School Grad/GED</option>
      <option value="">Some College</option>
      <option value="">Associate Degree</option>
      <option value="">Undergraduate Degree</option>
      <option value="">Graduate Degree</option>
      <option value="">None/NA</option>
</select>

<select class="married" name="">
        <option value="" selected disabled>Relationship Status</option>
        <option value="">Married</option>
        <option value="">Single</option>
        <option value="">Divorced</option>
        <option value="">Widow/Widower</option>
</select>

<select class="language" name="">
  <option value="" selected disabled>Language</option>
  <option value="">English</option>
  <option value="">Hmong</option>
  <option value="">Spanish</option>
  <option value="">Somali</option>
  <option value="">Vietnamese</option>
  <option value="">Other</option>
  </select>

<a href="#!/injury"><button type="button" name="button">Previous</button></a>
<a href="#!/hobby"><button type="button" name="button">Next</button></a>
