<h1>Bio</h1>
<select class="" name="" ng-model='bc.relationshipStatus'>
  <option value="" selected disabled>Relationship Status</option>
  <option value="married">Married</option>
  <option value="single">Single</option>
  <option value="divorced">Divorced</option>
  <option value="widow/widower">Widow/Widower</option>
</select>

<select class="" name="" ng-model='bc.familyStatus'>
    <option value="" selected disabled>Family Status</option>
    <option value="childrenAtHome">Children at Home</option>
    <option value="ChildrenGrown">Children grown/out of home</option>
    <option value="noChildren">No Children</option>
</select>

<select class="" name="" ng-model='bc.educationLevel'>
      <option value="" selected disabled>Education Level</option>
      <option value="Elementry">Elementary</option>
      <option value="Some High School">Some High School</option>
      <option value="High school Grad">High School Grad/GED</option>
      <option value="Some College">Some College</option>
      <option value="Associate Degree">Associate Degree</option>
      <option value="Undergraduate Degree">Undergraduate Degree</option>
      <option value="Graduate Degree">Graduate Degree</option>
      <option value="None">None/NA</option>
</select>


<select class="language" name="" ng-model='bc.language'>
  <option value="" selected disabled>Language</option>
  <option value="English">English</option>
  <option value="Hmong">Hmong</option>
  <option value="Spanish">Spanish</option>
  <option value="Somali">Somali</option>
  <option value="Vietnamese">Vietnamese</option>
  <option value="Other">Other</option>
  </select>

<label for="work">Occupation</label>
<input type="text" name="" value="">

<label for="animals">Do you have a problem with household animals? (Pets, Service Dogs, Allergies)</label>
<select class="" name="animals">
    <option value="No">No</option>
    <option value="Yes">Yes</option>
  </select>

<a href="#!/injury"><button type="button" name="button">Previous</button></a>
<a href="#!/hobby"><button type="button" name="button">Next</button></a>
<button type="button" name="button" ng-click='bc.submit()'>Submit</button>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete</span>
  </div>
</div>
