<div class="question1">
  <h1>HOBBIES/INTERESTS</h1></div>
<div class="threeHobbies">

  <div class='currentPage'>
    <p class='circles'>1</p>
    <p class='circles'>2</p>
    <p class='circles'>3</p>
    <p class='circlesAct'>4</p>
    <p class='circlesNon'>5</p>

  </div>
  <p>*Select at least three hobbies</p>
</div>

<div class="sides">
  <div class="page">



    <!-- 20 hobbies -->
    <div class="container">


      <ul class='multi-column3'>


        <li class='hobbyDiv' ng-repeat='hobby in hc.hobbyArr' ng-click='hc.submitHobby($index)' ng-class="{active : active}"><img ng-src='{{hobby.url}}' alt="" class='img-circle stockImg' ng-click="active = !active"><label for="hobby" class='hobbyLabel'>{{hobby.name}}</label></li>


        <input class='otherInput' type="text" name="hobby" value="" placeholder="Other" ng-model='hc.otherHobby'>

      </ul>

      <div class="nextBtn">
        <button class='submitBtn' type="button" name="button" ng-click='hc.submit()'><i class="fa fa-arrow-circle-o-right fa-4x" aria-hidden="true"></i></button>
      </div>
      <!-- <a href="#!/bio"><button type="button" name="button">Previous</button></a>
      <a href="#!/question"><button type="button" name="button">Next</button></a> -->


    </div>
  </div>
</div>
