<div class="question1">
  <h1>INJURY INFORMATION</h1></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 injuryInfo">
        <p>The following questions are about the details regarding the SCI. </p>

        <!-- START sci_rel -->
        <label for="sci_rel">Patient</label>
          <select class='relation' ng-options="item as item.sci_rel for item in ic.sci_rel track by item.id" ng-model="ic.sciRelation" ng-init="ic.getSciRelMenu()" name="sci_rel">
          </select>
        <!-- END sci_rel -->
        <br>
      </div>
      <!-- START sci_cause -->

      <div class="col-md-4 injuryInfo">
        <label for="sci_cause">Cause</label>
          <select class='cause' ng-options="item as item.sci_cause for item in ic.sci_cause track by item.id" ng-model="ic.cause" ng-init="ic.getSciCauseMenu()" name="sci_cause">
          </select>
      </div>
      <!-- END sci_cause -->
      <br>
      <!-- START sci_age -->
      <div class="col-md-4 injuryInfo">
        <label for="year">Age SCI occured</label>
        <input class='ageInj' type="text" name="year" pattern="\d*" min='0' max='99' maxlength="2" ng-model='ic.injAge'>
      </div>
      <!-- END sci_age -->

    </div>
  </div>

  <hr>

  <div>
    <div class='pLevel'>
      <!-- <label for="sci_lvl">Injury Level:</label></div> -->
      <label for="sci_lvl">Injury Level: </label>
      <select class="" name="sci_lvl" ng-model='ic.injLevel'>
        <option value=""></option>
        <option value="C1-C3">Upper-Cervical (C1-C3)</option>
        <option value="C4-C5">Mid-Cervical (C4-C5)</option>
        <option value="C6-C8">Lower-Cervical (C6-C8)</option>
        <option value="T1-S5">Lower Spine (T1-S5)</option>
      </select>
    <!-- <ul class='multi-column2'>

      <li><input class='checks' type='checkbox' name='level' value="C1-C4"> C1-C4</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="C5"> C5</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="C6"> C6</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="C7"> C7</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="C8"> C8</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="T1-T5"> T1-T5</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="T6-T12"> T6-T12</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="L1-L5"> L1-L5</input>
      </li>
      <li><input class='checks' type='checkbox' name='level' value="S1-S5"> S1-S5</input>
      </li>
    </ul> -->
  </div>
  <!-- <hr> -->


  <!-- START asia -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 asia">
        <label for="asia">ASIA Score: </label>
        <select class="asia" name="" ng-model='ic.asia'>
          <option value="A">No Motor Function / No Sensory Function</option>
          <option value="B">No Motor Function / Some Sensory Function</option>
          <option value="C">Some Motor Function / Some Sensory Function</option>
          <option value="D">Most Motor Function / Most Sensory Function</option>
      </select>
    </div>
      <!-- END asia -->

      <!-- START mobility_req -->
    <div class="col-md-4">
      <label for="mobility_req">Mobility Requirement: </label>
      <select class="movement" name="mobility_req" ng-model='ic.mobility'>
        <option value="Wheelchair (powered)">Wheelchair (powered)</option>
        <option value="Wheelchair (manual)">Wheelchair (manual)</option>
        <option value="Walker/Cane">Walker/Cane</option>
        <option value="Nothing">Nothing</option>
        <option value="Other">Other</option>
      </select>
    </div>
      <!-- END mobility_req -->

      <!-- START trans_type -->
      <div class="col-md-4 asia" ng-init="ic.getTransTypeMenu()">
        <label for="trans_type">Primary transportation:</label>
        <select class='relation' ng-options="item as item.trans_type for item in ic.trans_type track by item.id" ng-model="ic.trans" name="trans_type">
        </select>
        <!-- END trans_type -->

      </div>
    </div>
  </div>
  <hr>

  <a href="#!/signup"><button type="button" name="button">Previous</button></a>
  <a href="#!/bio"><button type="button" name="button">Next</button></a>
  <button class='submitBtn' type="button" name="button" ng-click='ic.submit()'>SUBMIT</button>

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      <span class="sr-only">20% Complete</span>
    </div>
  </div>
</div>
