<h1>Injury Partial</h1>
<select class="relation" name="">
  <option value="" disabled selected>SCI Relation</option>
  <option value="">Self</option>
  <option value="">Spouse</option>
  <option value="">Parent</option>
  <option value="">Sibling</option>
  <option value="">Friend</option>
  <option value="">Caregiver</option>
  <option value="">Medical Professional</option>
</select>


<select class="cause" name="">
  <option value="" disabled selected>SCI Cause</option>
  <option value="">Motor Vehicle Accident</option>
  <option value="">Fall</option>
  <option value="">Alcohol</option>
  <option value="">Act of Violence</option>
  <option value="">Sport/Recreation</option>
  <option value="">Disease</option>
  <option value="">Other</option>
  </select>


<input type="number" minlength='4' maxlength='4' name="" value="" placeholder="Year of Injury">

<select class="level" name="">
  <option value="" disabled selected>Paralysis Level</option>
  <option value="">C1 - C4</option>
  <option value="">C5</option>
  <option value="">C6</option>
  <option value="">C7</option>
  <option value="">C8</option>
  <option value="">T1-T5</option>
  <option value="">T6-T12</option>
  <option value="">L1-L5</option>
  <option value="">S1-S5</option>
</select>

<select class="asia" name="">
  <option value="" disabled selected>ASIA Score</option>
  <option value="">A</option>
  <option value="">B</option>
  <option value="">C</option>
  <option value="">D</option>
  <option value="">E</option>
</select>
<a href="#!/signup"><button type="button" name="button">Previous</button></a>
<a href="#!/bio"><button type="button" name="button">Next</button></a>
