<div class='question1'>
  <h1>QUESTIONAIRE</h1></div>
<div class="threeHobbies">

  <div class='currentPage'>
    <p class='circles'>1</p>
    <p class='circles'>2</p>
    <p class='circles'>3</p>
    <p class='circles'>4</p>
    <p class='circlesAct'>5</p>

  </div>
  <p>*All Fields Required</p>
</div>

<div class="sides">


  <div class="page">
    <div class="container">
      <div class="row ques">
        <div class="col-md-6">



          <label for="questions">Do you have a problem with answering uncomfortable questions? <br>(Bathroom, sex, ...)</label>
          <select class="" name="questions" value="Yes" ng-model='qc.question'>
            <!-- <option selected disabled value="">?</option> -->
  <option value="Yes">Yes</option>
  <option value="No">No</option>
  </select>


          <!-- <label for="questions">Do you have a problem with answering uncomfortable questions? <br> (Going to the bathroom, sex, ...)</label>
          <input type="radio" name="questions" value="Yes" ng-model='qc.question'>
          <label for="Yes">Yes</label>

          <input type="radio" name="questions" value="No" ng-model='qc.question'>
          <label for="No">No</label> -->
        </div>
        <div class="col-md-6">
          <div class="exp">
            <label for="experience">What is your experience helping others with Spinal Cord Injury?</label>
            <textarea name="experience" rows="4" cols="60" ng-model='qc.experience'></textarea>
          </div>

        </div>
      </div>


      <div class="row">

        <div class="col-md-6 additional">
          <label for="additionalInfo">Is there anything else that might be good to know about you for considering a match with Peer Visiting?</label>
          <textarea class='additional' name="additionalInfo" rows="4" cols="60" placeholder="Life Experiences, anything about yourself that you think is relevant to helping others." ng-model='qc.additional'></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="comment">
            <label for="comments">Do you have any Comments or Suggestions?</label>
            <textarea name="comments" rows="10" cols="60" ng-model='qc.comment'></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="heardAboutUs"></label>
        <ul>
          <label for="heardAbout">How did you hear about this Mentoring Program?</label>
          <li><input class='checks' type='checkbox' name='heardAbout' value="Personal Reference">Personal Reference</input>
          </li>
          <li><input class='checks' type='checkbox' name='heardAbout' value="Email">Email</input>
          </li>
          <li><input class='checks' type='checkbox' name='heardAbout' value="Website">Website</input>
          </li>
          <li><input class='checks' type='checkbox' name='heardAbout' value="Hospital System">Hospital System</input>
          </li>
          <li><input class='checks' type='checkbox' name='heardAbout' value="Other">Other</input>
          </li>
        </ul>
      </div>

    </div>

    <div class="nextBtn">
      <button class='submitBtn' type="button" name="button" ng-click='qc.submit()'><i class="fa fa-arrow-circle-o-right fa-4x" aria-hidden="true"></i></button>

    </div>

  </div>

</div>
</div>

<!-- <a href="#!/hobby"><button type="button" name="button">Previous</button></a>
<a href="#!/done"><button type="button" name="button">Next</button></a> -->
