<div class="question1">
  <h1>GET UP SIGN UP</h1></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <input type="radio" name="mentor" value="1" ng-model='sc.radioValue'>
        <label class='role' for="mentor">Mentor</label>

        <input type="radio" name="mentee" value="2" ng-model='sc.radioValue'>
        <label class='role' for="mentee">Mentee</label>
      </div>
      <div class="col-md-6">
        <!-- <hr> -->
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" value="" ng-model='sc.dateBirth'>

        <select class="Gender" name="gender" ng-model='sc.gender'>
  <option value="" disabled selected>Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
<option value="Other">Other</option>
<option value="Not">Prefer Not to Say</option>
</select>
      </div>

    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6 address">
        <label for="address">Address</label><input type="text" name="address" value="" placeholder="123 Place St." ng-model='sc.address'>
        <label for="city">City</label><input type="text" name="city" value="" placeholder='City Name' ng-model='sc.city'>
        <label for="state">State</label><input type="text" name="state" value="" maxlength='2' placeholder="XX" ng-model='sc.state' class='state'>
      </div>

      <div class="col-md-6 zip">
        <label for="zip">Zip</label><input type="number" name="zip" value="" maxlength="5" placeholder='XXXX' ng-model='sc.zipcode' class='zipInput'>
        <label for="phone">Phone</label><input type="tel" id='phone' name="phone" value="" placeholder='(xxx-xxx-xxxx)' minlength="10" ng-model='sc.phone'>
        <select class="" name="" value='phone' ng-model='sc.phoneType'>
  <option value="" disabled selected>Phone Type</option>
  <option value="Cell">Mobile</option>
  <option value="Home">Home</option>
  <option value="Work">Work</option>
  <option value="Other">Other</option>
  </select>
      </div>
    </div>
  </div>
  <hr>
  <div class='setting'><label for="visit">What setting(s) are you willing to visit?</label> </div>
  <div class="container">
    <div class="row">

      <div class="">
        <ul class='multi-column'>
          <li><input class='checks' type='checkbox' name='visit' value="Hospital">Hospital</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="Rehabilitation Center">Rehabilitation Center</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="At their home">At their home</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="Online, via Skype or other">Online, via Skype or other</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="Phone Calls">Phone Calls</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="In Public">In Public</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="Care Center or Nursing Home">Care Center or Nursing Home</input>
          </li>
          <li><input class='checks' type='checkbox' name='visit' value="Any">Any</input>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <a href="#!/injury"><button type="button" name="button">next</button></a>
    <button class='submitBtn' type="button" name="button" ng-click='sc.submit()'>SUBMIT</button>
  </div>


  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
      <span class="sr-only">10% Complete</span>
    </div>
  </div>

</div>
