<div class="user" ng-init=uc.getUserInfo()>

  <p class='logout1' ng-click='uc.logout()'>Logout</p>
  <h1 class='question1'>Welcome {{uc.thisUser.first_name | uppercase}}</h1>
  <div class="imgBox">
  </div>

  <div class="">


    <button class="upload" ng-click="uc.showPicker()"><i class="fa fa-picture-o fa-2x profImg" aria-hidden="true"></i></button>
  </div>
  <div id="placeholder-rr"></div>
  <div>
    <img class="userImage" ng-src="{{uc.thisUser.image}}" alt="">
  </div>



</div>


<script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'widget_size': 150
  });
</script>
