<div class="user" ng-init=uc.getUserInfo()>

  <p class='logout1' ng-click='uc.logout()'>LOG OUT</p>

  <h2>WELCOME {{uc.thisUser.first_name | uppercase}}</h2>
  <div class="imageUp" style='background-image:url({{uc.thisUser.image}}); height:20em; width: 20em; border-radius:100%; background-size:cover;'>
    <!-- <img class="img-circle userImage" alt="" ><br> -->
    <button class="upload" ng-click="uc.showPicker()">   <i class="fa fa-camera fa-2x" aria-hidden="true"></i> ADD AN IMAGE</button><br>
    <button class='matchBtn' type="button" name="button" onclick="document.getElementById('myModal3').style.display='block'" ng-click='uc.showMatches()'><i class="fa fa-users" aria-hidden="true"></i>Match</button><br>
    <button class='matchBtn2' type="button" name="button"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Unmatch</button>
  </div>

  <div class="container">

    <div class="">
      <div class="acLvl">


        <i class="fa fa-star" aria-hidden="true"></i>{{uc.thisUser.access_lvl}}</i>
      </div>

      <div class='editP'>
        <!-- <h3>Edit Profile</h3> -->
        <div class="userInfo">

          <i class="fa fa-map-marker fa-2x" aria-hidden="true"><u>City</u></i>
          <h4> {{uc.thisUser.city}}, {{uc.thisUser.state | uppercase}}</h4>
          <i class="fa fa-phone fa-2x" aria-hidden="true"><u>{{uc.thisUser.phone_type}}</u></i>
          <h4> {{uc.thisUser.phone}}</h4>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"><u>E-Mail</u></i>
          <h4><a href="mailto:{{users.email}}">{{uc.thisUser.email}}</a></h4>

          <i class="fa fa-heart fa-2x" aria-hidden="true"><u>Hobbies/Interests</u></i>
          <h4> {{uc.thisUser.hobbies}}</h4>
          <i class="fa fa-wheelchair fa-2x" aria-hidden="true"><u>Mobility Requirements</u></i>
          <h4> {{uc.thisUser.mobility_req}}</h4>
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"><u>SCI Age | Cause | Level</u></i>
          <h4> {{uc.thisUser.sci_age}} | {{uc.thisUser.sci_cause}} | {{uc.thisUser.sci_lvl}}</h4>
          <i class="fa fa-calendar fa-2x" aria-hidden="true"><u>Date of Birth</u></i>
          <h4>{{uc.thisUser.dob | date : "MMMM dd"}}</h4>

        </div>


      </div>
      <div class="col-md-6 bio">
        <i class="fa fa-user fa-2x" aria-hidden="true"><u>Bio</u></i>
        <textarea name="bio" rows="5" cols="70" ng-model='uc.userBio' placeholder="{{uc.thisUser.user_bio}}"></textarea>

        <button class="submitBio" type="button" name="button" ng-click='uc.submitUserBio()'><i class="fa fa-plus fa-2x" aria-hidden="true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></i>ADD BIO</button>
      </div>


    </div>







  </div>




</div>




<div id="myModal3" class="modal3">

  <!-- Modal content -->
  <div class="modal-content3">
    <span class="close" onclick="document.getElementById('myModal3').style.display='none'">&times;</span>
    <div class="userContent3">

      <div class='usersMatchedWithUser' ng-repeat='x in uc.matchContent'>
        <div class="matchPic">
          <img class='img-circle matchImg' ng-src="{{x.image}}" alt="images/gusu-SIGNUP.png">
        </div>
        <div class="matchContent">
          <h3>{{x.first_name}} {{x.last_name}}</h3>
          <h4 class='match3'>{{x.email}}</h4>
          <h4 class='match3'>{{x.access_lvl}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>








<script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'widget_size': 150
  });
</script>
