<div class="user" ng-init=uc.getUserInfo()>

  <p class='logout1' ng-click='uc.logout()'><u>LOG OUT</u></p>

  <h2>WELCOME {{uc.thisUser.first_name | uppercase}}</h2>
  <div class="imageUp" style='background-image:url({{uc.thisUser.image}}); height:20em; width: 20em; border-radius:100%; background-size:cover;'>
    <!-- <img class="img-circle userImage" alt="" ><br> -->
    <button class="upload" ng-click="uc.showPicker()">    <i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i> ADD AN IMAGE</button>
  </div>
  <div class="">
    <div class='editP'>
      <div class="userInfo">
        <!-- <p>{{uc.thisUser.access_lvl}}</p> -->
        <i class="fa fa-map-marker fa-2x" aria-hidden="true"><u>City</u></i>
        <h4> {{uc.thisUser.city}}, {{uc.thisUser.state | uppercase}}</h4>
        <i class="fa fa-envelope fa-2x" aria-hidden="true"><u>E-Mail</u></i>
        <h4> {{uc.thisUser.email}}</h4>

        <i class="fa fa-heart fa-2x" aria-hidden="true"><u>Hobbies/Interests</u></i>
        <h4> {{uc.thisUser.hobbies}}</h4>
        <i class="fa fa-wheelchair fa-2x" aria-hidden="true"><u>Mobility Requirements</u></i>
        <h4> {{uc.thisUser.mobility_req}}</h4>
        <i class="fa fa-wheelchair fa-2x" aria-hidden="true"><u>SCI Age/Cause</u></i>
        <h4> {{uc.thisUser.sci_age}}/{{uc.thisUser.sci_cause}}</h4>

      </div>


    </div>


  </div>
  <div class="row">
    <div class="bio">
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      <label for="bio">Bio</label>
      <button class="submitBio" type="button" name="button" ng-click='uc.submitUserBio()'>Submit Bio</button>
    </div>



    <textarea name="bio" rows="5" cols="100" ng-model='uc.userBio' placeholder="{{uc.thisUser.user_bio}}"></textarea>



  </div>
</div>


<button type="button" name="button" onclick="document.getElementById('myModal3').style.display='block'" ng-click='uc.showMatches()'>Match</button>
<div id="myModal3" class="modal3">

  <!-- Modal content -->
  <div class="modal-content3">
    <span class="close" onclick="document.getElementById('myModal3').style.display='none'">&times;</span>
    <div class="userContent3">

      <p>Hello world</p>
    </div>
  </div>
</div>
</div>


<button type="button" name="button">Unmatch</button>



<div class='hangout' id="placeholder-rr"></div>

<script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'widget_size': 150
  });
</script>
