<div class="user" ng-init=vc.checkForUserSearched()>

  <p class='logout1' ng-click='vc.logout()'>LOG OUT</p>

  <h2>WELCOME {{vc.thisUser.first_name | uppercase}}</h2>
  <div class="imageUp" style='background-image:url({{vc.thisUser.image}}); height:20em; width: 20em; border-radius:100%; background-size:cover;'>
    <!-- <img class="img-circle userImage" alt="" ><br> -->
  </div>

  <div class="container">

    <div class="">
      <div class="acLvl">


        <i class="fa fa-star" aria-hidden="true"></i>{{vc.thisUser.access_lvl}}</i>
      </div>

      <div class='editP'>
        <!-- <h3>Edit Profile</h3> -->
        <div class="userInfo">

          <i class="fa fa-map-marker fa-2x" aria-hidden="true"><u>City</u></i>
          <h4> {{vc.thisUser.city}}, {{vc.thisUser.state | uppercase}}</h4>
          <i class="fa fa-phone fa-2x" aria-hidden="true"><u>{{vc.thisUser.phone_type}}</u></i>
          <h4> {{vc.thisUser.phone}}</h4>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"><u>E-Mail</u></i>
          <h4><a href="mailto:{{users.email}}">{{vc.thisUser.email}}</a></h4>

          <i class="fa fa-heart fa-2x" aria-hidden="true"><u>Hobbies/Interests</u></i>
          <h4> {{vc.thisUser.hobbies}}</h4>
          <i class="fa fa-wheelchair fa-2x" aria-hidden="true"><u>Mobility Requirements</u></i>
          <h4> {{vc.thisUser.mobility_req}}</h4>
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"><u>SCI Age | Cause | Level</u></i>
          <h4> {{vc.thisUser.sci_age}} | {{vc.thisUser.sci_cause}} | {{vc.thisUser.sci_lvl}}</h4>
          <i class="fa fa-calendar fa-2x" aria-hidden="true"><u>Date of Birth</u></i>
          <h4>{{vc.thisUser.dob | date : "MMMM dd"}}</h4>
          <h4>Matched with: {{vc.thisUser.matched_with}}</h4>

        </div>


      </div>
      <div class="col-md-6 bio">
        <i class="fa fa-user fa-2x" aria-hidden="true"><u>Bio</u></i>
        <textarea name="bio" rows="5" cols="70" ng-model='vc.userBio' placeholder="{{vc.thisUser.user_bio}}"></textarea>

      </div>


    </div>







  </div>




</div>




<div id="myModal3" class="modal3">

  <!-- Modal content -->
  <div class="modal-content3">
    <span class="close" onclick="document.getElementById('myModal3').style.display='none'">&times;</span>
    <div class="userContent3">

        <div class='usersMatchedWithUser' ng-repeat='x in vc.matchContent'>
            <div class="matchPic">
              <img class='img-circle matchImg' ng-src="{{x.image}}" alt="images/gusu-SIGNUP.png">
            </div>
            <div class="matchContent">
              <h3>{{x.first_name}} {{x.last_name}}</h3>
              <h4 class='match3'>{{x.email}}</h4>
              <h4 class='match3'>{{x.access_lvl}}</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>








<script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'widget_size': 150
  });
</script>
