<div class="headerImgUser">
  <a href="#!/user"><img class='logoImg2' src="images/gusu-SIGNUP!.png" alt="" ></a>
  <a href="http://www.mnscia.org/"><img class='logoImgR2' src="images/MN_SCIA_Stacked.png" alt="" ></a>
</div>

<div class="user" ng-init=vc.checkForUserSearched()>

  <a class='logout' ng-click='vc.logout()'><i class="fa fa-sign-out" aria-hidden="true"><u>LOG OUT</u></i></a>



  <div class="userPage">

    <div class="acLvl">
      <h1><i class="fa fa-star" aria-hidden="true"></i>{{vc.thisUser.access_lvl}}</h1>

    </div>
    <h2 class='match'>Matched with: <a href="mailto:{{vc.thisUser.matched_with}}">{{vc.thisUser.matched_with}}</a></h2>
    <!-- <p>Matched with: <a href="mailto:{{vc.thisUser.matched_with}}">{{vc.thisUser.matched_with}}</a></p> -->



    <div class="row">

      <div class="col-md-6 imageUp" style='background-image:url({{vc.thisUser.image}}); height:20em; width: 20em; border-radius:100%; background-size:cover;'>
        <!-- <img class="img-circle userImage" alt="" ><br> --><br>
        <!-- <button class="upload" ng-click="vc.showPicker()">   <i class="fa fa-camera fa-2x" aria-hidden="true"></i> ADD AN IMAGE</button><br>
        <button class='matchBtn' type="button" name="button" onclick="document.getElementById('myModal3').style.display='block'" ng-click='vc.showMatches()'><i class="fa fa-users" aria-hidden="true"></i>Match</button><br>
        <button class='matchBtn2' type="button" name="button" ng-click='vc.unmatchMe()'><i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>Unmatch</button> -->

      </div>



      <div class="bio">


        <i class="fa fa-user fa-2x" aria-hidden="true">Bio</i><textarea disabled class='col-md-8 visitBio' name="bio" rows="5" cols="60" ng-model='vc.userBio' placeholder="{{vc.thisUser.user_bio}}"></textarea>

      </div>



      <div class='col-md-6 col-xs-4 editP'>
        <!-- <h3>Edit Profile</h3> -->
        <div class="userInfo2">
          <h2 class='profName'>{{vc.thisUser.first_name | uppercase}} {{vc.thisUser.last_name | uppercase}}</h2>
          <!-- <u>City</u> -->
          <i class="fa fa-map-marker fa-2x pd" aria-hidden="true"></i>
          <p> {{vc.thisUser.city}}, {{vc.thisUser.state | uppercase}}</p><br>
          <i class="fa fa-phone fa-2x pd" aria-hidden="true"></i>
          <p>{{vc.thisUser.phone_type}} {{vc.thisUser.phone}}</p><br>

          <!-- <u>E-Mail</u> -->
          <i class="fa fa-envelope fa-2x pd" aria-hidden="true"></i>
          <p><a href="mailto:{{users.email}}">{{vc.thisUser.email}}</a></p><br>
          <div class='hangOut' id="placeholder-div"></div><br>
          <!-- <u>Hobbies/Interests</u> -->
          <i class="fa fa-heart fa-2x pd" aria-hidden="true"></i>
          <p> {{vc.thisUser.hobbies}}</p>
          <i class="fa fa-calendar fa-2x pd" aria-hidden="true"><u>(DOB)</u></i>
          <p>{{vc.thisUser.dob | date : "MMMM dd"}}</p>
          <hr>



          <h4 class='sciInfo'>SPINAL CORD INJURY INFORMATION</h4>


          <i class="fa fa-wheelchair fa-2x" aria-hidden="true"><u><p>{{vc.thisUser.mobility_req}}</p></u></i>

          <i class="fa fa-plus-square fa-2x" aria-hidden="true"><u>Age of Injury: <p> {{vc.thisUser.sci_age}}</p></u></i><br>
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"><u>Cause: <p>{{vc.thisUser.sci_cause}}</p></u></i><br>
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"><u>Level: <p>{{vc.thisUser.sci_lvl}}</p></u></i><br>
          <hr>

          <!-- <p ng-init='uc.getUserInfo()'>Matched with: <a href="mailto:{{uc.thisUser.matched_with}}">{{uc.thisUser.matched_with}}</a></p> -->


        </div>


      </div>

    </div>









  </div>




</div>










<div id="myModal3" class="modal3">


  <div class="modal-content3">
    <span class="close" onclick="document.getElementById('myModal3').style.display='none'">&times;</span>
    <div class="userContent3">

      <div class='usersMatchedWithUser' ng-repeat='x in vc.matchContent'>
        <div class="matchPic">
          <img class='img-circle matchImg' ng-src="{{x.image}}" alt="images/gusu-SIGNUP.png">
        </div>
        <div class="matchContent">
          <h3>{{x.first_name}} {{x.last_name}}</h3>
          <h4 class='match3'>{{x.email}}</h4>
          <h4 class='match3'>{{x.access_lvl}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
  gapi.hangout.render('placeholder-div', {
    'render': 'createhangout'
  });
</script>






<!-- <script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'widget_size': 150
  });
</script> -->
